<% if logged_in? %>
    <div class="row mt-5">
        <div class="col-3 mx-auto text-center border py-2">
            <p>グループを作成しよう!</p>
            <p>グループを作成しよう!</p>
            <p>グループを作成しよう!</p>
            <a class="btn btn-lg btn-primary text-white">グループ作成</a>
        </div>
        <div class="col-3 mx-auto text-center border py-2">
            <p>グループに参加しよう！</p>
            <p>グループに参加しよう！</p>
            <p>グループに参加しよう！</p>
            <a class="btn btn-lg btn-primary text-white">グループ参加</a>
        </div>
    </div>
    
    <div>
        <h3 class="border-bottom mt-5">作成したグループ</h3>
        <p>グループ名</p>
        <p>グループ名</p>
        <p>グループ名</p>
    </div>
    <div>
        <h3 class="border-bottom mt-5">参加しているグループ</h3>
        <p>グループ名</p>
        <p>グループ名</p>
        <p>グループ名</p>
    </div>
<% else %>
    <div class="center jumbotron">
      <div class="text-center">
        <h1>Let's  share  the  schedule!</h1>
        <%= link_to 'Sign up now!', signup_path, class: 'btn btn-lg btn-primary' %>
      </div>
    </div>
<% end %>