// _navbar.html.erb

#logo {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kosugi Maru', sans-serif;
}

.navbar {
    background-color: #eaf6fd;
}

// toppages/index.html.erb

.line {
    width: 10%;
    margin: auto;
    border-top: 3px solid #666;
}

.ja-txt {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kosugi Maru', sans-serif;
    font-size: 18px;
    color: #555;
}

.examination-box {
    background-color: #f6f0cc;
    border-radius: 10px;
}