body {
    color: #555;
    padding-top: 60px;
}

.ja-txt {
    font-family: 'Kosugi Maru', sans-serif;
}

.en-txt {
    font-family: 'Nunito', sans-serif;
}


// _navbar.html.erb

.navbar {
    background-color: #eaf6fd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

// toppages/index.html.erb

.line {
    width: 10%;
    margin: 0 auto;
    border-top: 3px solid #666;
}

.examination-box {
    background-color: #f6f0cc;
    border-radius: 10px;
}